<h1>Home Page</h1>
<p><%=@homePageText%></p>
Today is <%= Time.now.strftime('%A') %>.

<p><%=@i0%></p>
<p><%=@aab%></p>
<br> Sick of our shity web page already. well here is a link!!!!!!!!!!!! suck it nerd!
<p><a href="http://www.google.com/">a good site</a></p>




<%= image_tag('try.png')%>

<%= image_tag "losteden.jpg", alt: "Slide Image" %>